/* c:\real_estate_project\frontend\src\index.css */

@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600;700;800&display=swap');

body {
  @apply bg-bg-dark-primary text-text-light;
  margin: 0;
  font-family: 'Open Sans', sans-serif;
  min-height: 100vh;
}

input, textarea, select {
    @apply text-gray-800;
}

/* Custom Scrollbar Styling */
.custom-scrollbar::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background-color: #4b5563; 
  border-radius: 3px;
}

.custom-scrollbar::-webkit-scrollbar-track {
  background-color: #1f2937;
}